node-red/flows/flows.json
[{"id":"17f5923f0a45da80","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"35b22324d242777d","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":1280,"y":300,"wires":[["a41ef58754b9863d","f753fd4d73289100"]]},{"id":"293dd4f326afe0db","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.Corrente_M1","datatype":"Int64","value":"","name":"Corrente_M1","x":1110,"y":300,"wires":[["35b22324d242777d"]]},{"id":"a41ef58754b9863d","type":"debug","z":"17f5923f0a45da80","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":280,"wires":[]},{"id":"b66754b790c7f381","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":300,"wires":[["293dd4f326afe0db"]]},{"id":"90ec8deb4d2a91ae","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":1280,"y":100,"wires":[["733011af332db927","7341ff8186c62a43"]]},{"id":"f88a297944986d5e","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.Corrente_M2","datatype":"Int64","value":"","name":"Corrente_M2","x":1110,"y":100,"wires":[["90ec8deb4d2a91ae"]]},{"id":"733011af332db927","type":"debug","z":"17f5923f0a45da80","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":80,"wires":[]},{"id":"4f5faee11e1d0941","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":100,"wires":[["f88a297944986d5e"]]},{"id":"91601ea6024927bb","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":480,"y":380,"wires":[["e66708e15d36d2e0","f71076c532c21793"]]},{"id":"0c942d1b05215565","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.Sec","datatype":"Int64","value":"","name":"Segundos","x":320,"y":380,"wires":[["91601ea6024927bb"]]},{"id":"e66708e15d36d2e0","type":"debug","z":"17f5923f0a45da80","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"13b670e0139c0b8b","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":380,"wires":[["0c942d1b05215565"]]},{"id":"ee15073451d6a1a6","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":480,"y":440,"wires":[["c0c3812e5b8a2197","c00548c6e0979c69"]]},{"id":"506a06ff6f540849","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.Minutes","datatype":"Int64","value":"","name":"Minutos","x":320,"y":440,"wires":[["ee15073451d6a1a6"]]},{"id":"c0c3812e5b8a2197","type":"debug","z":"17f5923f0a45da80","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":420,"wires":[]},{"id":"100280cbfa3d8973","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":440,"wires":[["506a06ff6f540849"]]},{"id":"addcc12ff1f87f29","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":460,"y":500,"wires":[["7bb168415a17851d","c5453ab8f728c10a"]]},{"id":"005693b8c3211012","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.Hours","datatype":"Int64","value":"","name":"Horas","x":310,"y":500,"wires":[["addcc12ff1f87f29"]]},{"id":"7bb168415a17851d","type":"debug","z":"17f5923f0a45da80","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"c12ac00d2537de56","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["005693b8c3211012"]]},{"id":"ea97c2a4ec027fed","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":540,"y":700,"wires":[["4830e554f3085260","b4db02ba5cad2ab3"]]},{"id":"5254e5eb413f25b9","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.Buffer_Entry","datatype":"Int64","value":"","name":"Quantidade de Caixas","x":340,"y":700,"wires":[["ea97c2a4ec027fed"]]},{"id":"4830e554f3085260","type":"debug","z":"17f5923f0a45da80","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":700,"wires":[]},{"id":"be7776454c88ceca","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":700,"wires":[["5254e5eb413f25b9"]]},{"id":"c4a35fdd888c13a9","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":1260,"y":380,"wires":[["855b69dfa1f1b970","1da6288e5de0c9a2"]]},{"id":"da465bc18ab6cc75","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.RPM_M1","datatype":"Int64","value":"","name":"RPM_M1","x":1100,"y":380,"wires":[["c4a35fdd888c13a9"]]},{"id":"855b69dfa1f1b970","type":"debug","z":"17f5923f0a45da80","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":360,"wires":[]},{"id":"8e550bb5b0c14fb7","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":380,"wires":[["da465bc18ab6cc75"]]},{"id":"08d8307192e66d96","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":1260,"y":180,"wires":[["5e368a4bea21ed91","2b33b70793aac41f"]]},{"id":"b30c8633e85fa022","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.RPM_M2","datatype":"Int64","value":"","name":"RPM_M2","x":1100,"y":180,"wires":[["08d8307192e66d96"]]},{"id":"5e368a4bea21ed91","type":"debug","z":"17f5923f0a45da80","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":160,"wires":[]},{"id":"5c8d215821d59a19","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":180,"wires":[["b30c8633e85fa022"]]},{"id":"1da6288e5de0c9a2","type":"ui_gauge","z":"17f5923f0a45da80","name":"","group":"2f17357aad1dae17","order":1,"width":0,"height":0,"gtype":"gage","title":"Rotação do Motor","label":"rpm","format":"{{value}}","min":0,"max":"2500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1470,"y":400,"wires":[]},{"id":"f753fd4d73289100","type":"ui_chart","z":"17f5923f0a45da80","name":"","group":"2f17357aad1dae17","order":2,"width":0,"height":0,"label":"Corrente [A]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1470,"y":320,"wires":[[]]},{"id":"7341ff8186c62a43","type":"ui_chart","z":"17f5923f0a45da80","name":"","group":"e8b3f63380f2849c","order":2,"width":0,"height":0,"label":"Corrente [A]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1470,"y":120,"wires":[[]]},{"id":"2b33b70793aac41f","type":"ui_gauge","z":"17f5923f0a45da80","name":"","group":"e8b3f63380f2849c","order":1,"width":0,"height":0,"gtype":"gage","title":"Rotação do Motor","label":"rpm","format":"{{value}}","min":0,"max":"2500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1490,"y":200,"wires":[]},{"id":"f71076c532c21793","type":"ui_text","z":"17f5923f0a45da80","group":"776693349f3733b0","order":3,"width":0,"height":0,"name":"","label":"Segundos","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":640,"y":380,"wires":[]},{"id":"c00548c6e0979c69","type":"ui_text","z":"17f5923f0a45da80","group":"776693349f3733b0","order":2,"width":0,"height":0,"name":"","label":"Minutos","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":640,"y":460,"wires":[]},{"id":"c5453ab8f728c10a","type":"ui_text","z":"17f5923f0a45da80","group":"776693349f3733b0","order":1,"width":0,"height":0,"name":"","label":"Horas","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":610,"y":540,"wires":[]},{"id":"b4db02ba5cad2ab3","type":"ui_gauge","z":"17f5923f0a45da80","name":"","group":"145369d31073a024","order":3,"width":0,"height":0,"gtype":"wave","title":"Produtos","label":"uni","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":720,"y":740,"wires":[]},{"id":"ac71619bab7d992d","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Escrita","x":400,"y":120,"wires":[["f0a53d9f35d3d0de"]]},{"id":"b84cf9226f7a91f0","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.Start","datatype":"Boolean","value":"1","name":"Start","x":250,"y":120,"wires":[["ac71619bab7d992d"]]},{"id":"f0a53d9f35d3d0de","type":"debug","z":"17f5923f0a45da80","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":120,"wires":[]},{"id":"70029432693a4861","type":"ui_button","z":"17f5923f0a45da80","name":"Iniciar","group":"145369d31073a024","order":1,"width":"3","height":"1","passthru":false,"label":"Iniciar","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":120,"wires":[["b84cf9226f7a91f0"]]},{"id":"0cfeb056a9834a07","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Escrita","x":400,"y":180,"wires":[["2d5b70e2eade6f4a"]]},{"id":"76c43a9927707ef6","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.Stop","datatype":"Boolean","value":"1","name":"Stop","x":250,"y":180,"wires":[["0cfeb056a9834a07"]]},{"id":"2d5b70e2eade6f4a","type":"debug","z":"17f5923f0a45da80","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"fb92058510af54b6","type":"ui_button","z":"17f5923f0a45da80","name":"Encerrar","group":"145369d31073a024","order":2,"width":"2","height":"1","passthru":false,"label":"Encerrar","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":180,"wires":[["76c43a9927707ef6"]]},{"id":"e0c5456bd5be3e37","type":"OpcUa-Item","z":"17f5923f0a45da80","item":"ns=4;s=|var|CODESYS Control Win V3.Application.PLC_PRG.motor1_alert","datatype":"Boolean","value":"","name":"Alerta_M1","x":990,"y":620,"wires":[["a74e99877d0e4df4"]]},{"id":"ab70fb946597cc5e","type":"debug","z":"17f5923f0a45da80","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":700,"wires":[]},{"id":"c89c473044bd71e2","type":"inject","z":"17f5923f0a45da80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":560,"wires":[["e0c5456bd5be3e37"]]},{"id":"a74e99877d0e4df4","type":"OpcUa-Client","z":"17f5923f0a45da80","endpoint":"4ebc4da7f7e98605","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OPCUA_Leitura","x":1180,"y":620,"wires":[["5d0b644445fb8e08","edaf561517ebce8b"]]},{"id":"4989241c0ef6c05d","type":"ui_text","z":"17f5923f0a45da80","group":"bb85e55e7eb4e8e6","order":1,"width":0,"height":0,"name":"","label":"Logs:","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1190,"y":780,"wires":[]},{"id":"287973087d7ccf87","type":"csv","z":"17f5923f0a45da80","name":"","sep":";","hdrin":"","hdrout":"once","multi":"one","ret":"\\r\\n","temp":"timestamp, dispositivo, setor, responsavel, alerta","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1190,"y":680,"wires":[["ab70fb946597cc5e"]]},{"id":"5d0b644445fb8e08","type":"debug","z":"17f5923f0a45da80","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":580,"wires":[]},{"id":"edaf561517ebce8b","type":"function","z":"17f5923f0a45da80","name":"","func":"// Função para adicionar zeros à esquerda\nfunction pad(num, size) {\n    return num.toString().padStart(size, '0');\n}\n\n// Função para gerar uma data e hora formatada\nfunction getFormattedDate() {\n    const date = new Date();\n    const year = date.getFullYear();\n    const month = pad(date.getMonth() + 1, 2);\n    const day = pad(date.getDate(), 2);\n    const hours = pad(date.getHours(), 2);\n    const minutes = pad(date.getMinutes(), 2);\n    const seconds = pad(date.getSeconds(), 2);\n    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n// Função principal\nfunction generateLog(alertMessage, deviceName, sector, responsible) {\n    const timestamp = getFormattedDate();\n    return {\n        timestamp: timestamp,\n        dispositivo: deviceName,\n        setor: sector,\n        responsavel: responsible,\n        alerta: alertMessage\n    };\n}\n\n\nif (msg.payload === true) {\n    // Dados de exemplo \n    const alertMessage = msg.payload.alert || \"Dispositivo parou de funcionar\";\n    const deviceName = msg.payload.deviceName || \"Motor 1\";\n    const sector = msg.payload.sector || \"Linha de Montagem 1\";\n    const responsible = msg.payload.responsible || \"Alberi Santos\";\n\n    // Gerar o log\n    msg.payload = generateLog(alertMessage, deviceName, sector, responsible);\n    return msg;\n} else {\n    // Não enviar mensagem se o payload for false\n    return null;\n}\n\n//timestamp, device, sector, responsible, alert ","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":700,"wires":[["287973087d7ccf87","4989241c0ef6c05d","4730cac755e16e93","ab70fb946597cc5e"]]},{"id":"4730cac755e16e93","type":"mqtt out","z":"17f5923f0a45da80","name":"AWS IoT","topic":"relatorio","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0d8b3cb688b7d8fd","x":1315,"y":740,"wires":[],"l":false},{"id":"e44576d4603970fb","type":"inject","z":"17f5923f0a45da80","name":"true","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":990,"y":800,"wires":[["edaf561517ebce8b"]]},{"id":"a8dcf9b1e472952d","type":"comment","z":"17f5923f0a45da80","name":"Botões de controle da linha","info":"","x":170,"y":60,"wires":[]},{"id":"13fcf68082a17537","type":"comment","z":"17f5923f0a45da80","name":"Horímetro ","info":"","x":120,"y":300,"wires":[]},{"id":"e07864028683bc9c","type":"comment","z":"17f5923f0a45da80","name":"Acomapnhamento da produção","info":"","x":190,"y":620,"wires":[]},{"id":"3aa112fc3626e425","type":"comment","z":"17f5923f0a45da80","name":"Dispositivos","info":"","x":950,"y":40,"wires":[]},{"id":"fcf869cf9d9718d3","type":"comment","z":"17f5923f0a45da80","name":"Gerador de alertas","info":"","x":970,"y":500,"wires":[]},{"id":"66e3c8887c6446ba","type":"function","z":"17f5923f0a45da80","name":"function 5","func":"// Função Node-RED\n// Verifica se o payload contém um status válido e ajusta `codigoStatusModbus`\nlet codigoStatusModbus;\n\nif (msg.payload == true) {\n    codigoStatusModbus = 1;\n} else {\n    codigoStatusModbus = 2;\n}\n\n// Função para obter o status da montagem no Node-RED\nfunction obterStatusMontagem(codigoStatusModbus) {\n    // Mapeamento de status baseado nos códigos de status do OPC UA\n    let mapeamentoStatus = {\n        0: \"Estação pronta para trabalhar\",\n        1: \"Em progresso\",\n        2: \"Trabalho concluído e peça boa fabricada\",\n        3: \"Trabalho concluído e sucata fabricada\",\n        4: \"Estação em estado de falha\"\n    };\n\n    // Retorna a descrição do status com base no código de status do OPC UA\n    return mapeamentoStatus[codigoStatusModbus] || \"Status Desconhecido\";\n}\n\n// Chama a função para obter a descrição do status\nlet descricaoStatus = obterStatusMontagem(codigoStatusModbus);\n\n// Define a saída para o Node-RED\nmsg.payload = codigoStatusModbus;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":160,"wires":[["58997dc82ab92d5d","0999194da25e7756"]]},{"id":"58997dc82ab92d5d","type":"debug","z":"17f5923f0a45da80","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2340,"y":160,"wires":[]},{"id":"f095a700e6d8ba5c","type":"modbus-read","z":"17f5923f0a45da80","name":"Modbus-Read","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":true,"unitid":"3","dataType":"InputRegister","adr":"2","quantity":"1","rate":"2.5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7a88841a95b1ea18","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":1830,"y":160,"wires":[["66e3c8887c6446ba"],[]]},{"id":"0999194da25e7756","type":"ui_chart","z":"17f5923f0a45da80","name":"","group":"a74ba1b970769516","order":1,"width":0,"height":0,"label":"Status de Funcionamento (0: \"Desligado\",         1: \"Operando\",         2: \"Concluído\",         3: \"Defeito\",         4: \"Suspenso\")","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2090,"y":240,"wires":[[]]},{"id":"8ccaf5b22903ed70","type":"azureiothub-ot","z":"17f5923f0a45da80","name":"Azure IoT Hub","protocol":"mqtt","x":2060,"y":620,"wires":[["27481c34430a8ea8"],[]]},{"id":"27481c34430a8ea8","type":"debug","z":"17f5923f0a45da80","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2040,"y":680,"wires":[]},{"id":"1fd5cd70f8d2a125","type":"function","z":"17f5923f0a45da80","name":"function 6","func":"// Função para calcular OEE no Node-RED\nfunction calcularOEE(tempoProducaoPlanejado, tempoOperacao, cicloIdeal, totalProdutosProduzidos, produtosBons) {\n    // Calcular Disponibilidade\n    let disponibilidade = (tempoProducaoPlanejado > 0) ? (tempoOperacao / tempoProducaoPlanejado) : 0;\n\n    // Calcular Desempenho\n    let desempenho = (tempoOperacao > 0) ? ((cicloIdeal * totalProdutosProduzidos) / tempoOperacao) : 0;\n\n    // Calcular Qualidade\n    let qualidade = (totalProdutosProduzidos > 0) ? (produtosBons / totalProdutosProduzidos) : 0;\n\n    // Calcular OEE\n    let oee = disponibilidade * desempenho * qualidade;\n\n    return {\n        OEE: Math.round(oee * 100 * 100) / 100,  // Retorna como porcentagem com duas casas decimais\n        Disponibilidade: Math.round(disponibilidade * 100 * 100) / 100,\n        Desempenho: Math.round(desempenho * 100 * 100) / 100,\n        Qualidade: Math.round(qualidade * 100 * 100) / 100\n    };\n}\n\nlet tempoProducaoPlanejado = msg.payload.tempoProducaoPlanejado;\nlet tempoOperacao = msg.payload.tempoOperacao;\nlet cicloIdeal = msg.payload.cicloIdeal;\nlet totalProdutosProduzidos = msg.payload.totalProdutosProduzidos;\nlet produtosBons = msg.payload.produtosBons;\n\n// Chama a função de cálculo do OEE\nlet dadosOEE = calcularOEE(tempoProducaoPlanejado, tempoOperacao, cicloIdeal, totalProdutosProduzidos, produtosBons);\n\n// Cria a mensagem para enviar ao Azure IoT Hub\nmsg.payload = {\n    \"deviceId\": \"FLM1_Esteira1_OEE\",\n    \"key\": \"0HPWfNoe/g7FWGU1O7r/Rn4EICfS8YRgFAIoTK7Q+Ao=\",\n    \"protocol\": \"mqtt\",\n    \"data\": {\n        \"StepId\": \"factory\",\n        \"OEE\": dadosOEE.OEE,\n        \"Disponibilidade\": dadosOEE.Disponibilidade,\n        \"Desempenho\": dadosOEE.Desempenho,\n        \"Qualidade\": dadosOEE.Qualidade\n    }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":620,"wires":[["106d3ba1ceec6f94","8ccaf5b22903ed70"]]},{"id":"faaa4b7359a96d09","type":"inject","z":"17f5923f0a45da80","name":"Inject OEE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1810,"y":540,"wires":[["93aca996f0b60364"]]},{"id":"106d3ba1ceec6f94","type":"debug","z":"17f5923f0a45da80","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1800,"y":680,"wires":[]},{"id":"93aca996f0b60364","type":"function","z":"17f5923f0a45da80","name":"function 7","func":"msg.payload = {\n    // Gera um valor aleatório entre 3600 e 7200 segundos para o tempo de produção planejado\n    \"tempoProducaoPlanejado\": Math.floor(Math.random() * (7200 - 3600 + 1)) + 3600,\n\n    // Gera um valor aleatório entre 2000 e 5000 segundos para o tempo de operação\n    \"tempoOperacao\": Math.floor(Math.random() * (5000 - 2000 + 1)) + 2000,\n\n    // Gera um ciclo ideal fixo ou escolha um valor aleatório dentro de um intervalo, como entre 4 e 8\n    \"cicloIdeal\": Math.floor(Math.random() * (8 - 4 + 1)) + 4,\n\n    // Gera um valor aleatório entre 400 e 600 produtos para o total de produtos produzidos\n    \"totalProdutosProduzidos\": Math.floor(Math.random() * (600 - 400 + 1)) + 400,\n\n    // Gera um valor aleatório entre 300 e o total de produtos produzidos para produtos bons\n    \"produtosBons\": Math.floor(Math.random() * ((msg.payload.totalProdutosProduzidos || 500) - 300 + 1)) + 300\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":540,"wires":[["1fd5cd70f8d2a125"]]},{"id":"c633468c9d38acc3","type":"comment","z":"17f5923f0a45da80","name":"Processamento de Dados e Monitoramento","info":"","x":1840,"y":60,"wires":[]},{"id":"3ffc5ac1b435a11b","type":"comment","z":"17f5923f0a45da80","name":"Cálculo do OEE e Envio de Dados para a Nuvem","info":"","x":1900,"y":460,"wires":[]},{"id":"4ebc4da7f7e98605","type":"OpcUa-Endpoint","endpoint":"opc.tcp://DESKTOP-C5P989U:4840","secpol":"Basic256Sha256","secmode":"SignAndEncrypt","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"2f17357aad1dae17","type":"ui_group","name":"Motor 1","tab":"dab2b025a6871406","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"e8b3f63380f2849c","type":"ui_group","name":"Motor 2","tab":"dab2b025a6871406","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"776693349f3733b0","type":"ui_group","name":"Horimetro","tab":"dab2b025a6871406","order":4,"disp":true,"width":5,"collapse":false,"className":""},{"id":"145369d31073a024","type":"ui_group","name":"Produção","tab":"dab2b025a6871406","order":1,"disp":true,"width":"26","collapse":false,"className":""},{"id":"bb85e55e7eb4e8e6","type":"ui_group","name":"Linha 1","tab":"387c32f191f34caa","order":1,"disp":true,"width":24,"collapse":false,"className":""},{"id":"0d8b3cb688b7d8fd","type":"mqtt-broker","name":"","broker":"ar11fxxe10fbm-ats.iot.sa-east-1.amazonaws.com","port":"8883","tls":"7003ea6031d5cc70","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7a88841a95b1ea18","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"200","parallelUnitIdsAllowed":true},{"id":"a74ba1b970769516","type":"ui_group","name":"Linha 2","tab":"be3326a280d8d672","order":1,"disp":true,"width":21,"collapse":false,"className":""},{"id":"dab2b025a6871406","type":"ui_tab","name":"Monitoramento - Linha 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"387c32f191f34caa","type":"ui_tab","name":"Relatório","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7003ea6031d5cc70","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"5c8fe6ec6d7d1892bef440d425ebb568a5c8d6f38b94a6bf37e9384d67c1d053-certificate.pem.crt","keyname":"5c8fe6ec6d7d1892bef440d425ebb568a5c8d6f38b94a6bf37e9384d67c1d053-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"be3326a280d8d672","type":"ui_tab","name":"Indicadores de Desempenho","icon":"dashboard","disabled":false,"hidden":false}]